pb-backend/.idea
pb-backend/Cargo.lock
pb-backend/target

pastabin-frontend/.expo
pastabin-frontend/.expo-shared
pastabin-frontend/yarn.lock
pastabin-frontend/node_modules
pastabin-frontend/package.json
pastabin-frontend/.idea